{% block sw_product_price_form_advanced_prices_link %}
    {% parent %}
    <router-link
            v-if="!product._isNew"
            :to="{ name: 'sw.product.detail.prices', params: { id: $route.params.id } }"
            class="sw-card__quick-link"
    >
        {{ $tc('royalCrown.dateRangePrices.linkAdvancedPrices') }} <sw-icon
                name="regular-long-arrow-right"
                small
        />
    </router-link>
{% endblock %}