{% block sw_product_detail_prices_price_card %}

    {% parent %}

    <sw-container>
        <price-date-range-form
            :date-range-prices="this.product.extensions.dateRangePrices"
            :currencies="this.currencies"
            :default-price="this.defaultPrice"
            :default-currency="this.defaultCurrency"
            :currency-columns="this.currencyColumns"
            :product-tax-rate="this.productTaxRate"
            :product="this.product"
            :isPriceFieldInherited="isPriceFieldInherited"
            :onInheritanceRemove="onInheritanceRemove"
            :onInheritanceRestore="onInheritanceRestore"
        />
    </sw-container>


{% endblock %}
