
<sw-container
    v-if="hasDateRangePrices()"
    columns="100%"
    class="dateRangePriceSection"
>
    <sw-card
        :title="$tc('royalCrown.dateRangePrices.title')"
        :large="true"
        position-identifier="sw-product-detail-context-prices-date-range-price"
    >
        <sw-data-grid
                :data-source="dateRangePrices"
                :columns="pricesColumns"
                :show-selection="false"
                :compact-mode="true"
        >
            <template #column-fromDate="{ item, itemIndex, compact }">
                <sw-datepicker
                        {% if VUE3 %}
                            v-model:value="item.fromDate"
                        {% else %}
                            v-model="item.fromDate"
                        {% endif %}

                        date-type="datetime"
                        required
                />
            </template>
            <template #column-toDate="{ item, itemIndex, compact }">
                <sw-datepicker
                        {% if VUE3 %}
                            v-model:value="item.toDate"
                        {% else %}
                            v-model="item.toDate"
                        {% endif %}

                        date-type="datetime"
                        required

                />
            </template>
            <template #column-type="{ item, itemIndex, compact }">
                <div class="sw-product-detail-context-prices__type-label">
                    <!-- eslint-disable-next-line vuejs-accessibility/label-has-for -->
                    <label>{{ $tc('sw-product.advancedPrices.advancedListPricePriceLabel') }}</label>
                    <!-- eslint-disable-next-line vuejs-accessibility/label-has-for -->
                    <label>{{ $tc('sw-product.advancedPrices.advancedListPriceLabel') }}</label>
                    <!-- eslint-disable-next-line vuejs-accessibility/label-has-for -->
                    <label>{{ $tc('sw-product.advancedPrices.labelRegulationPrice') }}</label>
                </div>
            </template>
            <template
                    v-for="currency in currencies"
                    #[`column-price-${currency.isoCode}`]="{ item, column, compact }"
            >
                <template>
                    <div
                            :key="`else-${currency}`"
                            class="product-detail-context-prices__price-field-wrapper"
                    >
                        <sw-inheritance-switch
                                v-if="!currency.isSystemDefault"
                                class="sw-product-detail-context-prices__inherited-icon"
                                :is-inherited="isPriceFieldInherited(item, currency)"
                                :disabled="!acl.can('product.editor')"
                                @inheritance-restore="onInheritanceRestore(item, currency)"
                                @inheritance-remove="onInheritanceRemove(item, currency)"
                        />
                        <sw-list-price-field
                                :price="item.price"
                                :default-price="this.defaultPrice"
                                :vertical="true"
                                :tax-rate="productTaxRate"
                                :label="false"
                                :compact="compact"
                                :disabled="!acl.can('product.editor')"
                                :currency="currency"
                                hide-purchase-prices
                        />
                    </div>
                </template>
            </template>
            <template
                    #actions="{ item }"
            >
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_product_detail_prices_price_card_price_group_grid_actions_delete %}
                    <sw-context-menu-item
                            variant="danger"
                            class="product-detail-context-prices__context-delete"
                            :disabled="!acl.can('product.editor')"
                            @click="deleteDateRangePrice(item)"
                    >
                        {{ $tc('sw-product.prices.contextMenuDelete') }}
                    </sw-context-menu-item>
                {% endblock %}

            </template>
        </sw-data-grid>
    </sw-card>


    <sw-container
            justify="center"
            columns="250x"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        <sw-button
            class="sw-product-detail-context-prices__add-new-rule"
            variant="ghost"
            size="small"
            @click="addDateRangePrice()"
        >
            {{ $tc('royalCrown.dateRangePrices.addDateRangePrice') }}
        </sw-button>
    </sw-container>
</sw-container>

<sw-card
        v-else
        class="sw-product-detail-context-prices__empty-state-card"
        position-identifier="sw-product-detail-context-prices-empty-state-card"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_product_detail_prices_price_empty_state %}
        <div class="sw-product-detail-context-prices__empty-state">

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_product_detail_prices_empty_state_image %}
                <img
                    :src="'/administration/static/img/empty-states/products-empty-state.svg' | asset"
                    alt=""
                >
            {% endblock %}
                <p>{{ $tc('royalCrown.dateRangePrices.pricesNotExisting') }}</p>
            <sw-button
                class="sw-product-detail-context-prices__add-new-rule"
                variant="ghost"
                size="small"
                @click="addDateRangePrice()"
            >
                {{ $tc('royalCrown.dateRangePrices.addDateRangePrice') }}
            </sw-button>

        </div>
    {% endblock %}
</sw-card>
